In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/housing-in-london/housing_in_london_monthly_variables.csv
/kaggle/input/housing-in-london/housing_in_london_yearly_variables.csv

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("/kaggle/input/housing-in-london/housing_in_london_monthly_variables.csv")
df1.head()
#df.isnull().sum()

,date,area,average_price,code,houses_sold,no_of_crimes,borough_flag
0,1995-01-01,city of london,91449,E09000001,17.0,NaN,1
1,1995-02-01,city of london,82203,E09000001,7.0,NaN,1
2,1995-03-01,city of london,79121,E09000001,14.0,NaN,1
3,1995-04-01,city of london,77101,E09000001,7.0,NaN,1
4,1995-05-01,city of london,84409,E09000001,10.0,NaN,1

In [4]:
df1["date"].dtypes

dtype('O')

In [5]:
result = df1.dtypes
result

date              object
area              object
average_price      int64
code              object
houses_sold      float64
no_of_crimes     float64
borough_flag       int64
dtype: object

In [6]:
#df1["date"] = pd.to_datetime(df["date"])

In [7]:
df1["date"].dtypes

dtype('O')

In [8]:
df1.dtypes

date              object
area              object
average_price      int64
code              object
houses_sold      float64
no_of_crimes     float64
borough_flag       int64
dtype: object

In [9]:
df1.dropna(inplace=True)

In [10]:
df1.head()

,date,area,average_price,code,houses_sold,no_of_crimes,borough_flag
72,2001-01-01,city of london,284262,E09000001,24.0,0.0,1
73,2001-02-01,city of london,198137,E09000001,37.0,0.0,1
74,2001-03-01,city of london,189033,E09000001,44.0,0.0,1
75,2001-04-01,city of london,205494,E09000001,38.0,0.0,1
76,2001-05-01,city of london,223459,E09000001,30.0,0.0,1

In [11]:
df1.shape

(7375, 7)

In [12]:
#drop the columsn with multiple values
df1.nunique()

date              227
area               33
average_price    7312
code               33
houses_sold       729
no_of_crimes     2658
borough_flag        1
dtype: int64

In [13]:
df1["average_price"].dtypes

dtype('int64')

In [14]:
df1["houses_sold"].dtypes

dtype('float64')

**Read the 2nd csv file into notebook**

In [15]:
df2 = pd.read_csv("/kaggle/input/housing-in-london/housing_in_london_yearly_variables.csv")

In [16]:
df2.head()

,code,area,date,median_salary,life_satisfaction,mean_salary,recycling_pct,population_size,number_of_jobs,area_size,no_of_houses,borough_flag
0,E09000001,city of london,1999-12-01,33020.0,NaN,48922,0,6581.0,NaN,NaN,NaN,1
1,E09000002,barking and dagenham,1999-12-01,21480.0,NaN,23620,3,162444.0,NaN,NaN,NaN,1
2,E09000003,barnet,1999-12-01,19568.0,NaN,23128,8,313469.0,NaN,NaN,NaN,1
3,E09000004,bexley,1999-12-01,18621.0,NaN,21386,18,217458.0,NaN,NaN,NaN,1
4,E09000005,brent,1999-12-01,18532.0,NaN,20911,6,260317.0,NaN,NaN,NaN,1

In [17]:
df2.shape

(1071, 12)

In [18]:
df2.nunique()

code                   51
area                   51
date                   21
median_salary        1017
life_satisfaction      82
mean_salary          1041
recycling_pct          57
population_size      1017
number_of_jobs        504
area_size              37
no_of_houses          663
borough_flag            2
dtype: int64

In [19]:
#concatinating the data frame
df = pd.concat([df1, df2])
df.head()

,date,area,average_price,code,houses_sold,no_of_crimes,borough_flag,median_salary,life_satisfaction,mean_salary,recycling_pct,population_size,number_of_jobs,area_size,no_of_houses
72,2001-01-01,city of london,284262.0,E09000001,24.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,2001-02-01,city of london,198137.0,E09000001,37.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2001-03-01,city of london,189033.0,E09000001,44.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2001-04-01,city of london,205494.0,E09000001,38.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2001-05-01,city of london,223459.0,E09000001,30.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.shape

(8446, 15)

In [21]:
df.isnull().sum()

date                    0
area                    0
average_price        1071
code                    0
houses_sold          1071
no_of_crimes         1071
borough_flag            0
median_salary        7397
life_satisfaction    8094
mean_salary          7375
recycling_pct        7586
population_size      7428
number_of_jobs       7515
area_size            7780
no_of_houses         7780
dtype: int64

In [22]:
# dropping the columns
df.drop(columns = ["no_of_crimes", ])

,date,area,average_price,code,houses_sold,borough_flag,median_salary,life_satisfaction,mean_salary,recycling_pct,population_size,number_of_jobs,area_size,no_of_houses
72,2001-01-01,city of london,284262.0,E09000001,24.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,2001-02-01,city of london,198137.0,E09000001,37.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2001-03-01,city of london,189033.0,E09000001,44.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2001-04-01,city of london,205494.0,E09000001,38.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2001-05-01,city of london,223459.0,E09000001,30.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,2019-12-01,great britain,NaN,K03000001,NaN,0,30446.0,NaN,37603,NaN,NaN,NaN,NaN,NaN
1067,2019-12-01,england and wales,NaN,K04000001,NaN,0,30500.0,NaN,37865,NaN,NaN,NaN,NaN,NaN
1068,2019-12-01,northern ireland,NaN,N92000002,NaN,0,27434.0,NaN,32083,NaN,NaN,NaN,NaN,NaN
1069,2019-12-01,scotland,NaN,S92000003,NaN,0,30000.0,NaN,34916,NaN,NaN,NaN,NaN,NaN
1070,2019-12-01,wales,NaN,W92000004,NaN,0,27500.0,NaN,31251,NaN,NaN,NaN,NaN,NaN

**This dataset can not be used for the project**