In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/noway-meteorological-data/NorwayMeteoDataCompleted.csv

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv("/kaggle/input/noway-meteorological-data/NorwayMeteoDataCompleted.csv")
df.head()

,Unnamed: 0,sourceId,latitude,longtitude,max(air_temperature P1D),max(relative_humidity P1D),max(wind_speed P1D),mean(air_temperature P1D),mean(relative_humidity P1D),mean(wind_speed P1D),sum(precipitation_amount P1D),day,month,year
0,0,SN100,61.134900,12.503900,NaN,NaN,NaN,NaN,NaN,NaN,0.4,1,1,2010
1,1,SN1135,58.990000,11.540800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2010
2,2,SN1151800,50.100278,14.255556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2010
3,3,SN15262,61.674000,8.368500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2010
4,4,SN1531000,45.473056,28.032222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2010

In [5]:
df.shape

(237629, 14)

In [6]:
df.shape
(df.isnull().sum()) / len(df)

Unnamed: 0                       0.000000
sourceId                         0.000000
latitude                         0.000000
longtitude                       0.000000
max(air_temperature P1D)         0.811614
max(relative_humidity P1D)       0.844442
max(wind_speed P1D)              0.851617
mean(air_temperature P1D)        0.732562
mean(relative_humidity P1D)      0.842566
mean(wind_speed P1D)             0.851617
sum(precipitation_amount P1D)    0.545775
day                              0.000000
month                            0.000000
year                             0.000000
dtype: float64